<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studyApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 获取应用列表 11（含11）以上    !-->
    <!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />-->


    <!--        <queries>-->
    <!--            <package android:name="com.autonavi.minimap" />-->
    <!--            <package android:name="com.example.services" />-->
    <!--        </queries>-->

    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/default_head"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".demo.esoterica.SystemDemoActivity"
            android:exported="true"
            android:label="demo/esoterica/SystemDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.NetworkActivity"
            android:exported="true"
            android:label="network/NetworkActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".demo.SurfaceViewActivity"
            android:exported="true"
            android:label="demo/SurfaceViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jetpack.WorkManagerActivity"
            android:exported="true"
            android:label="jetpack/WorkManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.hotfix.HotfixActivity"
            android:exported="true"
            android:label="demo/hotfix/HotfixActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--            android:theme="@style/LockScreenTheme"-->
        <activity
            android:name=".demo.lockscreen.LockScreenActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity="demo.lockscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.SAMPLE_CODE" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".demo.lockscreen.LockScreenConditionActivity"
            android:exported="true"
            android:label="demo/lockscreen/LockScreenConditionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".demo.hardware.HardwareActivity"
            android:exported="true"

            android:hardwareAccelerated="false"
            android:label="demo/hardware/HardwareActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".demo.tile.TileActivity"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:label="demo/tile/TileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <service
            android:name=".demo.tile.CustomDemoTileService"
            android:exported="true"
            android:icon="@drawable/img"
            android:label="demo应用"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />

        </service>


        <activity
            android:name=".verify.VerifyActivity"
            android:exported="true"
            android:label="verify/VerifyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.plugin.PluginProxyActivity"
            android:exported="true" />
        <activity
            android:name=".demo.plugin.PluginActivity"
            android:exported="true"
            android:label="demo/plugin/PluginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jetpack.compose.KotlinActivity"
            android:exported="true"
            android:label="jetpack/compose/KotlinActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LaunchActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/LaunchActivityTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".packageManager.PKMSActivity"
            android:exported="true"
            android:label="packageManager/PKMSActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jetpack.compose.ComposeMainActivity"
            android:exported="true"
            android:label="jetpack/compose/ComposeMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customView.test.TestActivity"
            android:exported="true"
            android:label="CustomView/理论实践/TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.ValueAnimatorActivity"
            android:exported="true"
            android:label="Animation/ValueAnimator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.screenCapture.ScreenCaptureActivity"
            android:exported="true"
            android:label="demo/ScreenCapture">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".demo.webviewperformancemonitor.WebViewActivity"
            android:exported="true"
            android:label="demo/WebView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>


        <activity
            android:name=".xiangxue.prxoy.ProxyActivity"
            android:exported="true"
            android:label="xiangxue/proxy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jetpack.DataBindingActivity"
            android:exported="true"
            android:label="jetpack/dataBinding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customView.comment.CommentActivity"
            android:exported="true"
            android:label="CustomView/仿抖音评论布局">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StatusBar.StatusBarActivity"
            android:exported="true"
            android:label="StatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".behavior.BehaviorActivity"
            android:exported="true"
            android:label="Behavior"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.LottieActivity"
            android:exported="true"
            android:label="Animation/Lottie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".github.ViewMoreTextViewActivity"
            android:exported="true"
            android:label="Github/viewMoreTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customView.ToastActivity"
            android:exported="true"
            android:label="CustomView/Toast在子线程">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JNI.JNIActivity"
            android:exported="true"
            android:label="JNI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customView.flowLayout.FlowLayoutActivity"
            android:exported="true"
            android:label="CustomView/FlowLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <service android:name="com.example.studyApp.demo.lockscreen.LockScreenService" />
        <!--        <receiver-->
        <!--            android:name="com.example.studyApp.demo.lockscreen.LockScreenMsgReceiver"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.zx.lockscreenmsgdemo.LockScreenMsgReceiver" />-->

        <!--            </intent-filter>-->
        <!--        </receiver>-->
    </application>

</manifest>